results*/
figures/
case_studies/
*.pyc
*.html
bsg_c++/*
pycache/
*.pickle
.idea
.vscode/
mprofile_*
/Steven/
env
*.swp
.env/
runs/
results_360/
baseline_results_36/
ceiling_results_36/
float_results_36/
